header#bdNavbar{
    background-color: #853594;
    opacity: 0.8;
    padding: 0.75rem 0;
    
}
img#logo {
    height: 100px;
    width: auto;
}

input.form-control{
    background-color: rgb(207, 210, 212);
}

.nav-item{
    margin-left: 5px;
}

button.btn-default{
    
    margin-left: 20px;
    height: 40px;
    text-align: center;
}

button#login{
    margin: auto 0.5em auto 0.5em;
    width: 8em;
   
}




