
h1, p{
 padding-top: 40px;
    
    
}
h1{
    opacity: 0.75;
}

.background-image {
    margin-top: 0;
    padding-top: 0;
    width: 100%;
     
   /* height: 100%;   Sets reference point to scale from */
    background-size:cover;        /* Sets background image to cover entire element */
    /* background-repeat: none; 
    background-image: url("https://www.rcc.edu/images/student-support/cultural-engagement/ally-banner-lg.png") ;
    background-image: url("https://img.freepik.com/vetores-gratis/pessoas-lgbt-silhueta-homem-mulher-arco-iris-vetor_316839-2626.jpg?w=826") ;*/
    background-image: url("/public/img/imghometp.png");
    text-align: center;
}

a.btn {
    background-color: rgb(108, 117, 125);
    color: white;
    opacity: 0.9;
    margin: 5px;
}


.textoinicial{   
   
  width: 75%;    
  margin-top: 0;
   margin-left: auto;
   margin-right: auto; 
}
.container{
    /*efeito glass*/
    padding: 10px; 
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    
}
/* INFO */
#info-content {
    margin-bottom: 4em;
    padding: 1em 1em;
    background-color: #4d9778;
}

#info-numbers {
    margin: 1.5em 0;
}

#info-banner {
    display: flex;
    align-items: center;
    margin-bottom: 2.5em;
}

#info-numbers h3 {
    font-size: 3em;
}

@media(min-width: 768px) {
    #info-content {
        padding: 3.5em;
    }
}
#mini-banners {
    margin-top: 2em;
    margin-bottom: 2em;
}

#mini-banners-contato{
    margin-top: 100px;
}

#mini-banners .card {
    padding: 2em 0.3em;
    border-radius: 0;
    margin-bottom: 1em;
}

#mini-banners .card-title {
    margin-bottom: 1.5em;
}

#mini-banners .btn {
    margin-top: 1.5em;
    padding: .6em 1.2em;
}

@media (min-width:768px) {
   #mini-banners {
       margin-top: -6em;
   }
}
#info-content {
    margin-bottom: 4em;
    padding: 4em 1em;
}

#info-numbers {
    margin: 1.5em 0;
}

#info-banner {
    display: flex;
    align-items: center;
    margin-bottom: 2.5em;
}
#info-numbers h3 {
    font-size: 3em;
}

@media(min-width: 768px) {
    #info-content {
        padding: 3.5em;
    }
}

p{
    font-size: 1.2em;
}
li {
    list-style-type: none;
    font-size: 1em;
  }

li#top{
    font-size: 1.25em;
}

.card{
    text-align: justify;
}

.card-title{
      font-size: 2em;  }

.card-img-top{
    margin-top: 0;
    vertical-align: top;
    
}

.card-body{
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}
.card-text{
    padding-top: 0;
}



